<div class="row">
  <div class="col">
    <h1><%= @place.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-2 my-2">
    <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-primary">New Post</a>
  </div>
</div>
<div class="row">
    <% for post in @place.posts %>
      <% if @current_user.id = post.user_id%>
        <div class="col-md-4">
        <h3><%= post.title %></h3>
        <h4><%= post.posted_on %></h4>
        <p><%= post.description %></p>
        <% if post.uploaded_image.attached? %>
          <img src="<%=url_for(post.uploaded_image)%>" class="img-fluid">
        <% end %>
        </div>
      <% else %>
        <h3> Make your first post! </h3>
      <% end %>
    <% end %>
  
</div>
<div class="row">
  <div class="col-2 my-2">
    <a href="/places" class= "btn btn-primary">Back to All Places</a>
  </div>
</div>
