<div class="row">
  <div class="col">
    <h1><%= @place.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-2 mx-2">
    <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-primary">New Post</a>
  </div>
</div>

<% for post in @place.posts %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>
